<div class="popup-delete delete">
  <div class="delete__wrap">
    <h2 class="delete__title">Удалить клиента</h2>
    <p class="delete__subtitle">Вы действительно хотите удалить данного клиента?</p>
    <form class="delete__form">
      <button class="delete__delete">Удалить</button>
      <button class="delete__cancel">Отмена</button>
    </form>
    <button class="delete__close">
      <svg class="delete__icon" width="29" height="29">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
