<div class="popup-update update">
  <div class="update__wrap">
    <h2 class="update__title">Изменить данные</h2>
    <p class="update__subtitle">ID: 123458</p>
    <form class="update__form">
      <label class="update__label update__label--req">Фамилия</label>
      <input type="text" class="update__input">
      <label class="update__label update__label--req">Имя</label>
      <input type="text" class="update__input">
      <label class="update__label">Отчество</label>
      <input type="text" class="update__input">
      <button class="update__add">
        <svg class="update__icon-add" width="16" height="16">
          <use xlink:href="img/sprite.svg#add_circle"></use>
        </svg>
        Добавить контакт
      </button>
      <button class="update__save">Сохранить</button>
      <button class="update__delete">Удалить клиента</button>
    </form>
    <button class="update__close">
      <svg class="update__icon" width="29" height="29">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
