<div class="popup-update update popup">
  <div class="update__wrap">
    <h2 class="update__title">Изменить данные</h2>
    <p class="update__subtitle"></p>
    <form class="update__form">
      <label class="update__label-upd update__label-upd--req">Фамилия</label>
      <input type="text" class="update__input update__input--surname" value="">
      <label class="update__label-upd update__label-upd--req">Имя</label>
      <input type="text" class="update__input update__input--name" value="">
      <label class="update__label-upd">Отчество</label>
      <input type="text" class="update__input update__input--middlename" value="">
      <div class="update__add">
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="update__row-contact is-hide">
          <select name="type-contact" class="update__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="update__value" placeholder="Введите данные контакта">
          <button class="update__delete-contact">
            <svg class="update__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <button class="update__contact">
          <svg class="update__icon-add" width="16" height="16">
            <use xlink:href="img/sprite.svg#add_circle"></use>
          </svg>
          Добавить контакт
        </button>
      </div>
      <span class="update__error"></span>
      <button class="update__save">
        Сохранить
      </button>
      <button class="update__cancel">Отмена</button>
    </form>
    <button class="update__close">
      <svg class="update__icon" width="29" height="29">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
