<div class="popup-new new">
  <div class="new__wrap">
    <h2 class="new__title">Новый клиент</h2>
    <form class="new__form">
      <div class="new__row">
        <input type="text" class="new__input new__input--surname" required>
        <label class="new__label new__label--req">Фамилия</label>
      </div>
      <div class="new__row">
        <input type="text" class="new__input new__input--name" required>
        <label class="new__label new__label--req">Имя</label>
      </div>
      <div class="new__row">
        <input type="text" class="new__input new__input--middlename" required>
        <label class="new__label">Отчество</label>
      </div>
      <div class="new__add">
        <div class="new__row-contact">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <div class="new__row-contact is-hide">
          <select name="type-contact" class="new__type-contact choices">
            <option value="Phone">Телефон</option>
            <option value="Email">Email</option>
            <option value="VK">Vk</option>
            <option value="FB">Facebook</option>
            <option value="Other">Другое</option>
          </select>
          <input type="text" class="new__value" placeholder="Введите данные контакта">
          <button class="new__delete">
            <svg class="new__icon" width="12" height="12">
              <use xlink:href="img/sprite.svg#delete-contact"></use>
            </svg>
          </button>
        </div>
        <button class="new__contact is-hide">
          <svg class="new__icon-add" width="16" height="16">
            <use xlink:href="img/sprite.svg#add_circle"></use>
          </svg>
          Добавить контакт
        </button>
      </div>
      <button class="new__save">Сохранить</button>
      <button class="new__cancel">Отмена</button>
    </form>
    <button class="new__close">
      <svg class="new__icon" width="29" height="29">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
